$primaryColor: cornflowerBlue;
$secondaryColor: lightBlue;
$alignment: center;
$hoverColor: pink;
$hoverBackground: lightgray; //Looks bad but shows that the function works
$mainColor: white;
$margin: 20px;